@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* letter-spacing: .5px; */
  }

/* ----------------------------Header---------------------------------------- */
  .navigation-header {
    /* background-color: rgb(73, 51, 153); */
    padding: 0 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    /* position: fixed; */
    overflow-y: hidden;
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 1px 1px 7px #e1e1e1;
  transition: background-color 0.4s ease-out;
  z-index: 15;
  letter-spacing: 1.5px;
  }
  .scroll{
    background: #000000;
    
  }

  nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    /* background-color: white; */
  }

  a{
    overflow-wrap: break-word;
  }

  .logo-container > a >img {
    color:#000000;
    /* text-decoration: none;
    font-weight: 700;
    font-size: 26px; */
    height: 70px;
    width: 70px;
    object-fit: cover;
  }

  .navigation-items {
    display: flex;
    gap: 40px;
  }

  .navigation-items > a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    transition: .4s ease-in-out;
  }

  .navigation-items > a:hover {
    border-bottom: 2px solid red;
    color: rgb(215, 27, 27);
  }
  /* a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #d51010;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  } */

  .hamburger {
    display: none;
    font-size: 35px;
    font-weight: 400;
    color: #000000;
  }

  /* p {
    overflow-y: scroll
  } */

  @media screen and (max-width:768px) {
    .hamburger {
      display: flex;
      cursor: pointer;
      /* transition: all 150ms linear; */
    }
    .hamburger #closeHam {
      display: none;
    }

    .navigation-items {
        display: none;
        padding: 15px 0px;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0;
        top: 100px;
        /* background-color: rgb(73, 51, 153); */
        /* width: 100%; */
        z-index: 0;
        background-color: white;
        height: 100%;
        width: 95px;
        padding-top: 60px;
        gap: 0;
        background-color: #fff;
        box-shadow: 1px 10px 7px #e1e1e1;
        overflow-x: hidden;
        transition: all 0.3s ease-in-out;
        letter-spacing: 1px;
        /* transition: 2.2s cubic-bezier(.36,-0.01,0,.77); */
        /* opacity: 0; */
    /* transition: all 200ms linear; */
    /* border: 2px solid red; */
      }

      
      .navigation-items > a {
        /* padding: 8px;
        text-decoration: none;
        font-size: 14px;
        color: #000000;
        display: block;
        transition: 0.3s;
        border: 1px solid red; */
        display: block;
        width: 100%;
        padding: 15px 5px;
        font-size: 14px;
        line-height: 1.2;
        border-bottom: 1px solid #eaeaea;
        position: relative;
        font-weight: 400;
        text-align: center;
      }
    
      .navigation-items > a:hover {
        color: rgb(167, 18, 18);
        /* transition: all 150ms ease-in; */
      }

  }

  /* ----------------------------------main-content--------------------------------- */

  

